# ------------------------
# Node / Frontend
# ------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.env       # frontend secrets if any

# ------------------------
# Python / Backend
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env        # backend secrets
venv/
.env                # in case of a root-level env file

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/

# ------------------------
# OS
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Others
# ------------------------
*.local
*.lock
