# ------------------------
# Node / Frontend
# ------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/.env       # frontend secrets if any

# ------------------------
# Python / Backend
# ------------------------
__pycache__/
backend/.env        # backend secrets
venv/
*.pyc

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/

# ------------------------
# OS
# ------------------------
.DS_Store

# ------------------------
# Others
# ------------------------
*.local
*.lock
node_modules
